@model QuanLyKhoHang.Models.StockInDetail

@{
    ViewData["Title"] = "Chi tiết phiếu nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details-container">
    <div class="details-title">Chi tiết phiếu nhập</div>
    <dl class="row details-info">
        <dt class="col-sm-4">Phiếu nhập</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.StockIn.Id)</dd>

        <dt class="col-sm-4">Sản phẩm</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Product.Id)</dd>

        <dt class="col-sm-4">Số lượng</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Quantity)</dd>

        <dt class="col-sm-4">Đơn giá</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>
    </dl>
    <div class="action-links">
        <a asp-action="Edit" asp-route-id="@Model.Id">Chỉnh sửa</a>
        <a asp-action="Index">Quay lại danh sách</a>
    </div>
</div>
